body {
    background-color: #263238;
    position: relative;
}
.title{
    text-align:center;
    color:#03a9f4;
    font-size:7.2vh;
    margin-bottom:6vh;
    font-family: "Android";
    text-shadow:0rem 0rem 0 rgba(255,255,255,0.8),
                0rem 0rem 0 rgba(255,255,255,0.6),
                0rem 0rem 0 rgba(255,255,255,0.4),
                0rem 0rem 0 rgba(255,255,255,0.2);
    transition: text-shadow 0.5s;
}

.title:hover{
    text-shadow:-0.3rem 0.3rem 0 rgba(255,255,255,0.8),
                -0.7rem 0.7rem 0 rgba(255,255,255,0.6),
                -1.1rem 1.1rem 0 rgba(255,255,255,0.4),
                -1.5rem 1.5rem 0 rgba(255,255,255,0.2);
}
.title>.icofont{
    text-shadow:0 0 0;
}
.user-section,
.chatty-section {
    position: absolute;
    top:57%;
    left:50%;
    transform:translate(-50%,-50%);
}
.chatty-section{
    display:none;
}
.output-section{
    text-align:left;
}
.mic{
    font-size:60vh;
    color:#607d8b;
}
.chatty{
    font-size: 60vh;
    color: white;
    text-shadow: 0rem 0rem 4rem white;
}

.mic.glow{
    color:#03a9f4;
    text-shadow: 0rem 0rem 4rem rgba(3,169,244, 1);
}

.btn-listen,.chatty-talk{
    font-family: "Android";
    margin-top: 5vh;
    text-align:center;
    color:#03a9f4;
    font-size:7vh;
    border-radius: 20px;
    border:2vh solid #03a9f4;
    transition:all 0.1s;
}

.btn-listen.record{
    background-color:#e53935;
    color:white;
    text-shadow:0rem 0rem 0.5rem white;
    border-color:#e53935;
    box-shadow:0rem 0rem 4rem #e53935;
}

.chatty-talk{
    background-color:#03a9f4;
    border:2vh solid #03a9f4;
    color:white;
    text-shadow:0rem 0rem 4rem white; 
    box-shadow: 0rem 0rem 4rem #03a9f4;
}

#transcript{
    color:#eceff1;
    width:25%;
}

@font-face{
    font-family:"Android";
    src:url("./androidnation.ttf");
}